# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven Wrapper (keep if you use it)
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE
# =========================

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Generated JSON output
# =========================
**/event-metadata.json

# =========================
# Mac temp files
# =========================
*.swp
*.swo